<%- include("../layout/header.ejs", {title: "TODO-List"}) %>
<%- include("../layout/menu.ejs", {title: "TODO-List"}) %>
<section>
    <h3>TODO-List</h3>
    <p>Gerenciando nossas atvidades diárias :)</p>
    <a href="/checklists">
        <button>Ir para listas de atividades</button>
    </a>
</section>

<%- include("../layout/footer.ejs") %>